.vscode/launch.json
.vscode/settings.json
__pycache__/campo_minado_negocio.cpython-36.pyc
__pycache__/campo_minado_jogo_janela.cpython-36.pyc
save/bombas.save
__pycache__/campo_minado_cliente.cpython-36.pyc
__pycache__/campo_minado_servidor.cpython-36.pyc
impl_socket_e_thread/__pycache__/campo_minado_cliente.cpython-36.pyc
impl_socket_e_thread/__pycache__/campo_minado_servidor.cpython-36.pyc
impl_rpyc/__pycache__/campo_minado_cliente.cpython-36.pyc
impl_rpyc/__pycache__/campo_minado_servidor.cpython-36.pyc
